[Unit]
Description=coach2mqtt
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
User=1000
Group=docker
WorkingDirectory=/opt/coach2mqtt
Type=oneshot
RemainAfterExit=True

# Start container when unit is started
ExecStart=docker compose up -d
# Stop container when unit is stopped
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target

