persistence true
persistence_location /mosquitto/data
log_dest file /mosquitto/log/mosquitto.log
listener 1883
allow_anonymous true


##Bridge connection
#connection hivemq
#address <id>.s1.eu.hivemq.cloud:8883
## pem file is needed because of connection/cert issue with hivemq
## wget https://letsencrypt.org/certs/isrgrootx1.pem
#bridge_cafile /mosquitto/config/isrgrootx1.pem
#remote_username <username>
#remote_password <password>
#topic rvc/# both 0
#topic bms/# out 0
#bridge_protocol_version mqttv311
#try_private false
#notifications true
#bridge_attempt_unsubscribe false
#bridge_insecure true
